.header {
  text-align: center;
}
/* *{
  color: rgba(82, 80, 80, 0.966);
} */
.covid-data {
  /* width: 400px; */
  border-radius: 15px;
  margin: 30px;
  padding: 20px;
}
.container{
  
  justify-content: center;
}

.covid-data h1 {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0px;
  font-size: 24px;
  font-weight: 400;
}

.covid-data > h3 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}
.covid-data > div {
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  align-items: center;
  width: 70%;
}
.covid-data > div > h3 {
  padding: 5px;
}
.confirmed_cases {
  background-color: rgba(143, 207, 250, 0.705) !important;
}
.confirmed_cases > div {
  background-color: rgb(120, 196, 247) !important;
}
.deaths {
  background-color: rgba(252, 168, 168, 0.747) !important;
}
.deaths > div {
  background-color: rgb(255, 116, 116);
}
.recovered {
  background-color: rgba(206, 252, 168, 0.747) !important;
}
.recovered > div {
  background-color: rgba(164, 255, 89, 0.747) !important;
}
.country-container {
  display: flex;
  justify-content: center;
}

.countries {
  width: 300px;
  height: 50px;
  background-color: antiquewhite;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 15px;
}
.countries > option {
  font-size: 18px;
  height: 50px;
}

.Barchart{
  width: 70vw !important;
  height: 70vh !important;
  /* text-align: center; */
  margin: 0 auto !important;
}